# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Week7/Week7/Debug/Week7.tlog
*.db
/Week7/Week7.VC.VC.opendb
/ASM-Project-3/ASM-Project-3.VC.VC.opendb
